.DS_Store
.gitignore.archetype
/archetype.properties

node_modules
target

amv-backend/.env

amv-container/.env

amv-e2etest/.env
amv-e2etest/playwright-report
amv-e2etest/test-results
amv-e2etest/dry_run_logs
amv-e2etest/project.inlang/cache/plugins

amv-frontend/build
amv-frontend/.svelte-kit
amv-frontend/package
amv-frontend/.env
amv-frontend/.env.*
amv-frontend/!.env.example
amv-frontend/vite.config.js.timestamp-*
amv-frontend/vite.config.ts.timestamp-*
amv-frontend/src/lib/paraglide
amv-frontend/project.inlang/cache

amv-generator/generators/app/lib/*.js
amv-generator/generators/app/lib/*.js.map
amv-generator/generators/app/*.js
amv-generator/generators/app/*.js.map
amv-generator/generators/app/index.d.ts
amv-generator/src/main/resources/jeg-metadata.json
