
// Define screen size variables based on Pico.css defaults
// https://picocss.com/docs/css-variables#all-css-variables

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;
